.u-section-1 {
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/default-image.jpg");
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 973px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 973px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 15.625rem;
  font-weight: 800;
  line-height: 2;
  letter-spacing: 35px;
  background-image: none;
  margin: 237px 66px 0;
}

.u-section-1 .u-image-1 {
  height: 697px;
  width: 458px;
  margin: -599px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 200px;
  height: 100px;
  transition-duration: 0.75s;
  margin: 0 auto;
  margin-top: -50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 802px;
  }

  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 614px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 732px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 518px;
    width: 340px;
  }
}.u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
  pointer-events: auto;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: Inter;
  font-weight: 700;
  margin: 80px 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Inter;
  background-image: none;
  margin: 57px auto 0;
}

.u-section-2 .u-text-3 {
  font-family: Inter;
  font-weight: normal;
  margin: 23px 0 0;
  font-size: 20px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Inter;
  margin: 75px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-wrap-1 {
    min-height: 425px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 632px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    min-height: 402px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 647px;
  object-position: 94.31% 0%;
  margin: 162px 63px 0 auto;
}

.u-section-3 .u-group-1 {
  width: 486px;
  min-height: 234px;
  height: auto;
  margin: -657px auto 0 110px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-family: Inter;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: 0 auto 60px 110px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 201px;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 202px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 201px;
}

.u-section-3 .u-container-layout-5 {
  padding: 60px;
}

.u-section-3 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 201px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 201px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  font-family: Inter;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-3 .u-image-1 {
    width: 486px;
    filter: brightness(0.7);
  }

  .u-section-3 .u-group-1 {
    width: 446px;
    min-height: 254px;
    margin-left: 8px;
    height: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 8px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-4 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    width: 523px;
    height: 565px;
  }

  .u-section-3 .u-group-1 {
    min-height: 234px;
    width: 511px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 503px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    width: 482px;
    height: 758px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 169px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 182px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 340px;
    height: 535px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    margin-top: -444px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 763px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  width: 502px;
  font-weight: 700;
  font-family: Inter;
  margin: 39px auto 0;
}

.u-section-4 .u-shape-1 {
  width: 564px;
  background-image: none;
  height: 552px;
  margin: 41px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: -512px auto 60px 0;
}

.u-section-4 .u-image-1 {
  min-height: 461px;
  background-image: url("images/pexelsphoto35544241.jpeg");
  background-position: 50% 65.88%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 461px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 60px 20px 70px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: Inter;
  margin: 3px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Inter;
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-family: Inter;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 380px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-4 .u-image-1 {
    min-height: 291px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 85px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    min-height: 437px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 275px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 682px;
}

.u-section-5 .u-shape-1 {
  width: 564px;
  background-image: none;
  height: 552px;
  margin: 65px auto 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  font-family: Inter;
  width: 489px;
  margin: -511px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  font-family: Inter;
  width: 520px;
  margin: 11px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 53px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-5 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Inter;
  margin: 30px 1px 0;
  color: white !important
}

.u-section-5 .u-text-4 {
  font-family: Inter;
  margin: 20px 1px 0;
  color: white
}

.u-section-5 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-5 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Inter;
  margin: 30px -1px 0;
  color: white !important;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  background-image: none;
  align-self: center;
  text-decoration: underline !important;
  font-family: Inter;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  background-image: none;
  text-decoration: underline !important;
  font-family: Inter;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 322px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-5 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: Inter;
  margin: 30px 1px 0;
  color: white !important;
}

.u-section-5 .u-text-7 {
  font-family: Inter;
  color: white;
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-5 .u-text-2 {
    width: 628px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.4375rem;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1229px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}